{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}

	<h1 class="display-4">Nos Produits</h1>
	<div class="container">
		<form action="{{ path('app_produit') }}" method="get">
			<div class="form-group">
				<div class="row">
					<div class="col-6">
						<select class="form-select" id="category" name="category">
							<option value="">Toutes les Catégories</option>
							{% for category in categories %}
								<option value="{{ category.id }}">{{ category.libelle }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-3">
						<button type="submit" class="btn btn-primary mb-2">Filter</button>
					</div>
				</div>

			</div>


		</form>

		<hr>


		<div class="jumbotron">
			<div class="row">
				{% for produit in produits %}
					<div class="col-sm-4">
						<div class="card ">
							<h3 class="card-header">{{ produit.libelle }}</h3>
							<div class="card-body">
								<h5 class="card-title">{{ produit.categorie }}</h5>
							</div>
							<img class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" alt="Product Image" src="{{ asset('uploads/images/' ~ produit.image) }}">
							<div class="card-body">
								<p class="card-text">{{ produit.description }}.</p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">{{ produit.price * 0.01 }}
									€</li>
								{% if produit.remise%}
									{% set dateDebut = produit.getDateDebut() %}
									{% set dateFin = produit.getDateFn() %}
									{% set dateActuelle = date() %}
								{% endif %}

								{% if produit.remise and dateActuelle >= dateDebut and dateActuelle <= dateFin %}
									<li class="list-group-item">{{ produit.remise }}
										% de remise
									</li>
									{% set prixApresPromotion = (produit.price * 0.01) * (1 - (produit.remise / 100)) %}
									<li class="list-group-item text-danger">Prix après promotion:
										{{ prixApresPromotion|number_format(2, '.', ',') }}
										€</li>
									{% set joursRestants = dateFin.diff(dateActuelle).days %}
									<div class="card-footer text-muted">
										{{ joursRestants }}
										jours restants.
									</div>
								{% else %}
									<div class="card-footer text-muted">
										Pas de promotion en cours.
									</div>

								{% endif %}


							</ul>

						</div>
					</div>
				{% endfor %}
			</div>
		</div>


	</div>
{% endblock %}
